<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="description" content="Ultra-Coinsのブログです。" />
    <meta
      name="keyword"
      content="Ultra-Coins, coins, ウルトラコインズ, 筑波大学, 情報情報科学類"
    />
    {% block rss %}<link rel="alternate" type="application/rss+xml" title="RSS"
    href="{{ get_url(path="rss.xml", trailing_slash=false) | safe }}">{%
    endblock %}
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/ultra-coins/ultra-coins-blog/main/static/favicon.ico"
    />
    <meta name="theme-color" content="rgb(15.29, 15.29, 15.29)" />
    <!-- meta settings end -->
    <!-- Google fonts start -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krona+One&family=Sawarabi+Gothic&display=swap"
      rel="stylesheet"
    />
    <!-- Google fonts end -->
    <!-- Twitter card settings start -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@yuki_osada0808" />
    <meta name="twitter:creator" content="@yuki_osada0808" />
    <meta name="twitter:title" content="Ultra-Coins" />
    <meta name="twitter:description" content="Ultra-Coinsのブログです。" />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/ultra-coins/ultra-coins-blog/main/static/og-image.png"
    />
    <meta
      name="twitter:image:alt"
      content="Ultra-CoinsのテキストベースのWebブラウザ用のウェブサイト ファーストビュー"
    />
    <!-- Twitter card settings end -->
    <!-- OG settings start -->
    <meta property="og:site_name" content="Ultra-Coins ブログ" />
    <meta property="og:description" content="Ultra-Coinsのブログです。" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ultra-coins/ultra-coins-blog/main/static/og-image.png"
    />
    <meta property="og:image:width" content="3072" />
    <meta property="og:image:height" content="1440" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.base_url }}" />
    <!-- OG settings end -->
    <!-- CSS start -->
    <link rel="stylesheet" href="{{ get_url(path="base.css",
    trailing_slash=false) | safe }}">
    <!-- CSS end -->
    <!-- katex start -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.css"
      integrity="sha384-7lU0muIg/i1plk7MgygDUp3/bNRA65orrBub4/OSWHECgwEsY83HaS1x3bljA/XV"
      crossorigin="anonymous"
    />
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/katex.min.js"
      integrity="sha384-RdymN7NRJ+XoyeRY4185zXaxq9QWOOx3O7beyyrRK4KQZrPlCDQQpCu95FoCGPAE"
      crossorigin="anonymous"
    ></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.19/dist/contrib/auto-render.min.js"
      integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>
    <!-- katex end -->
    <title>Ultra-Coins Blog</title>
  </head>
  <body>
    <!-- header start -->
    <header class="blog-header">
      <a href="/" class="krona-one-regular blog-title">Ultra-Coins</a>
    </header>
    <!-- header end -->
    <!-- main contents start -->
    {% block content %} {% endblock %}
    <!-- main contents end -->
    <!-- footer start -->
    <footer>
      <div class="credit">
        <a
          class="pc-credit sawarabi-gothic-regular"
          href="https://yukiosada.work"
        >
          © <span id="pc-year"></span> Designed and Created by: Yuki Osada
        </a>
        <a
          class="mobile-credit sawarabi-gothic-regular"
          href="https://yukiosada.work"
        >
          <p>© <span id="mobile-year"></span> Designed and Created by:</p>
          <p>Yuki Osada</p>
        </a>
      </div>
    </footer>
    <!-- footer end -->
    <script type="module">
      import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
      mermaid.initialize({ startOnLoad: true, theme: "dark" });
      const year = new Date().getFullYear().toString();
      document.getElementById("pc-year").textContent = year;
      document.getElementById("mobile-year").textContent = year;
    </script>
  </body>
</html>
