{% extends "base.html" %} {% block content %}
<section class="blog-list-page-section">
  <h1 class="title">ブログ記事一覧</h1>
  <ul>
    {%for page in section.pages %}
    <a href="{{ page.permalink | safe}}">
      <li>
        <p>作成日: {{ page.date }}</p>
        <p>
          執筆者:{%for author in page.authors %} {% if loop.last %}{{ author
          }}{% else %}{{ author }},&ensp;{% endif %} {% endfor %}
        </p>
        <h2>{{ page.title }}</h2>
      </li>
    </a>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
