{% extends "base.html" %} {% block content %}
<section class="blog-list-page-section">
  <h1 class="title">#{{ term.name | safe }}&ensp;が付いた記事一覧</h1>
  <ul>
    {%for page in term.pages %}
    <li>
      <a class="post-link" href="{{ page.permalink | safe}}">
        <p class="date">作成日:&ensp;{{ page.date | safe }}</p>
        <p class="author">
          執筆者:&ensp;{%for author in page.authors %}{% if loop.last %}{{
          author | safe }}{% else %}{{ author | safe }},&ensp;{% endif %} {%
          endfor %}
        </p>
        <h2>{{ page.title | safe }}</h2>
      </a>
      <p class="tags">
        {% for tag in page.taxonomies.tags %} {% if loop.last %}
        <a href="{{ config.base_url }}/tags/{{ tag | safe }}/"
          >#{{ tag | safe }}</a
        >
        {%else %}
        <a href="{{ config.base_url }}/tags/{{ tag | safe }}/"
          >#{{ tag | safe }}</a
        >,&ensp; {% endif %} {% endfor %}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
